main {
  height: 200vh;
}

body {
  background-image: linear-gradient(to right, yellow, rgb(81, 95, 9));
}

/* твой код */

.navbar {
  position: fixed;
  background-color: rgb(102, 102, 102);
  background-size: 1600px;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  padding: 10px 0px 10px 10px;
  font-family: "NarrowNews", sans-serif;
  font-style: italic;
  text-align: center;
  width: 100%;
}

.navbarA {
  margin: 10px;
}

.navbarA:hover {
  color: red;
  text-decoration: line-through;
}

@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 